.genericButton {
    background-color: #2d6b6d;
    border-color: #35575825;
    text-align: center;
    border-radius: 24px;
    box-sizing: border-box;
    padding: 10px 19px;
    font-size: 14px;
    color: #FFFCEE;
    display: inline-block;
    font-size: medium;
    font: bold;
    text-shadow: .2px .2px .1px rgb(245, 252, 246);
}

.genericButton:hover{
    background-color: #509294;
}

.genericButton:active {
    scale:.99;
    background-color: #2e4849;
    
}
