body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; 
    height: 100vh;
}

/* contact section */

.contacts-section {
    width: 15%;
    height: 100%;
    background-color: #64a1a3;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    box-sizing: border-box;
}

#contacts-list {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
}

#contacts-list:nth-child(1) {
    margin-top: 2.8em;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    background-color: rgb(155, 155, 155);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    text-wrap: nowrap;
    font-size: 20px;
}

.contact-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

#current-contact-icon {
    width: 60px;
    margin-left: 2.5em;
    gap: 2em;
}

#current-contact .contact-name {
    font-size: 30px;
}






/* chat section */

.chat-section {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.chat-window {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 20px;
    overflow-y: auto;
}

#current-contact {
    background-color: #64a1a3;
    color: white;
    padding: 20px 20px;
    font-size: 20px;
    margin-top: 42.5px;
    position: sticky;
}

.message {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    max-width: 70%;
    border-radius: 5px;
    font-size: 16px;
    color: black;
    box-sizing: border-box;
    text-align: center;

}

#input-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
    padding: 10px;
    background-color: #D4DDD3;
    border-radius: 15px;
    box-sizing: border-box;
}

.message-input {
    flex-grow: 1;
    padding: 0 10px;
    background-color: #D4DDD3;
    border: none;
    border-radius: 5px 0 0 5px;
    min-height: 50px;
    box-sizing: border-box;
    color: black;
    resize: none;
    overflow-y: auto;
    outline: none;
    font-size: 28px;

}

.message-input::placeholder {
    color: #008080;
}

.send-btn {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    width: 80px;
}

.send-btn:hover {
    background-color: #005f5f;
}

.send-btn:active {
    background-color:  #116d71;
    transform: scale(0.95); /* Slightly shrink the button */
}