.body{
    background-color: #e2e1da;
    margin: 0px;
}

.navigationTabs{    
    display: flex;
    position: fixed;
    top: 26px;
    margin-left: 30px;
    z-index: 1;
}

.tab{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #31999e;
    color: #e2e7e4;
    text-shadow: 0px 0px 3px #42b384;
    width: 8em;
    height: 2em;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
}

.tab:hover{
    color: #ffffff;
    text-shadow: 0px 0px 3px #48ddb8;
    background-color: rgb(66, 165, 170);
}

.welcomeMessage{
    z-index: 0;
    background-color: #48715617;
    display: flex;
    font-size: 21px;
    margin:40px;
    margin-top: 95px;
    margin-bottom: 20px;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 20px;
}

.contentBoard{
    z-index: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.userInfoBox{
    background-color: #2e9da14d;
    height: 720px;
    width: 300px;
    align-content: center;
    padding: 80px 20px 20px 20px;
    border-radius: 20px;
    margin-left: 20px;

}

.infoField{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffffe1;
    font-size: 20px;
    width: 100%;
    height: 90%;
    border-radius: 20px;
    line-height: 3;

}

.overviewBox{
    background-color: #00ff55;
    border-radius: 20px;
    align-items: center;

}

.viewBox{
    color: rgb(0, 99, 99);

}

.notifcationsBox{
    display: flex;
    justify-content: center;    
    text-align: left;
    background-color: #48715617;
    height: 780px;
    width: 400px;
    border-radius: 20px;
    margin-right: 20px;
    padding: 20px 20px 20px 20px;
}

.notifcationTitle{
    background-color: #ff0000;
}


.note{
    color: aqua;

}