.header {
    display: flex;
    justify-content: flex-end;
    align-items: center; /* center vertically */
    background-color: #008080;
    padding: .75em;
    width: 100%;
    min-width: 100%;
}

.header .link{
    color: white;
    text-decoration: none;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}