/* Body and Background */
body {
  background-image: url('../assets/landingPage_bg.png');
  background-attachment: fixed;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  padding: 0;
}

/* Landing Page Container */
.landingPage {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2vh 5vw;
}

/* Better Teeth Container */
.betterTeethContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2vh;
  max-width: 50vw;
  margin-bottom: 3vh;
}

/* Better Teeth Image */
.betterTeethImg {
  width: 80vw;
  max-width: 100%;
  margin-top: 4em;
}

/* Schedule Button */
.scheduleBtn {
  background-color: rgba(0, 128, 128, 0.75);
  border: none;
  color: #FFFCEE;
  padding: 2vh 3vw; 
  font-size: 1vw; 
  cursor: pointer;
  border-radius: 2em; 
  margin-top: -5em;
  align-self: flex-start;
  margin-left: 17.5em;
}

/* Logo on Landing Page */
.logoLandingPage {
  height: 25vh; 
  width: 16vw; 
  align-self: flex-end;
  margin-right: 3em;
  margin-top: 1em;
}

#aboutUsOverlay {
  display: hide;
  position: absolute;
  left: 50%;
  top: 53%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
}

#aboutUsOverlay > .wrapSignIn {
  display: flex;
  flex:1;
  flex-flow: column;
  height: fit-content;
  width: fit-content;
  background-color: rgba(15, 121, 107, 0.418);
  padding: 30px;
}

#aboutUsBox {
  background-color: rgba(230, 241, 231, 0.932);
}

#aboutUsBox > P > .hyperlinkBack {
  margin: 10px;
}

#aboutUsBox > div > .titleRegister {
  text-align: center;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  color: rgb(28, 122, 110);
}

#staffCensus {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
  height: 62vh;
  width: 80vw;
  overflow: auto;
  scrollbar-width: thin;
}

.staff {
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  background-color: rgba(153, 206, 180, 0.493);
  height: 30%;
  width: 30%;
}
.staff > p {
  text-wrap: wrap;
}

.staff > .labels {
  text-align: center;
}

#aboutMessage {
  color: rgba(24, 112, 83, 0.911);
  margin: .5em;
  font-size: 1.2em;
  font-weight: bolder;
}