/* Adjust to match theme colors as needed -Kyle */
@property --calendar-main-bg-color { /* bg for header and submit button */
    syntax: "<color>";
    inherits: true;
    initial-value: #116d71;
}
  @property --calendar-main-text-color { /* fg for header and submit button */
    syntax: "<color>";
    inherits: true;
    initial-value: white;
}
  @property --calendar-secondary-bg-color { /* bg for day buttons */
    syntax: "<color>";
    inherits: true;
    initial-value: #eee;
}
  @property --calendar-secondary-text-color { /* fg for day buttons */
    syntax: "<color>";
    inherits: true;
    initial-value: #777;
}
  @property --calendar-tertiary-bg-color { /* bg for day names */
    syntax: "<color>";
    inherits: true;
    initial-value: #ddd;
}
  @property --calendar-tertiary-text-color { /* fg for day names */
    syntax: "<color>";
    inherits: true;
    initial-value: #666;
}

body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    height: 100vh; /* Makes the body fill the viewport height */
    background-color: #f1efe0; /* Optional background color */
}

.content {
    display: flex;
    justify-content: space-between;
    background-color: #a6d2cb;
    padding: 20px;
    width: 85%;
    height: auto;
    border-radius: 20px;
    margin-top: 2em;
}

/* Payment History */

.payment-history-section {
    overflow-y: scroll;
    width: 70%;
    border-radius: 10px;
    background-color: #f8f9fa;
    position: relative;
}

.payment-history-container {
    display: flex;
    width: 98%;
}

#payment-history-title h2 {
    margin-left: 20px;
}

#payment-history-title h2 {
    margin-top: 30px;
    font-weight: lighter;
    color: black;
}

#payment-history {
    height: auto;
    border-collapse: collapse;
    width: 100%;
    margin-left: 20px;
}

#payment-history th, #payment-history td {
    border: 0.5px solid rgb(212, 212, 212);
}

#payment-history th {
    background-color: var(--calendar-main-bg-color);
    color: white;
    font-weight: 550;
    padding: 10px;
}

#payment-history td {
    background-color: #ecebeb;
    color: var(--calendar-tertiary-text-color);
    padding: 15px;
}

/* Changes the width of date */
#payment-history th:first-child, #payment-history td:first-child {
    width: 12%;
}

/* Current Bill */

.payment-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    min-height: 210px;
    height: 322px;
}

.payment-container {
    width: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin-left: 20px;
    height: 100%;
    position: relative;    
}

#payment-title {
    text-align: center;
}

#payment-title h2 {
    font-weight: lighter;
}

/* Align Rows in current bill details */

.info-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-row p {
    margin-right: 30px;
}

#btn-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#pay-now-btn {
    background-color: #64a1a3;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: block;
    padding: 10px;
    border-radius: 10px;
}

#pay-now-btn:active {
    background-color: var(--calendar-main-bg-color);
    transform: scale(0.95); /* Slightly shrink the button */
}
