body > .appointmentBox{
    margin: 30px;
    height: 700px;
    min-width: 1440px;
}

.staffSelector{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 30px;
    margin-top: 80px;
    margin-bottom: 0px;
}

.staffSelector > div{
    border: 4px solid #94c7b2;
    border-radius: 30px;
    background-color: #bde2d8;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    min-width: 680px;
    padding: 28px;
    padding-right: 32px;
    padding-left: 36px;
}

.staffSelector > div > *{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 15px;
    padding: 0px;
}

.staffSelector > div > select{
    font-size: 16.5px;
    padding: 6px;
    padding-left: 8px;
    padding-right: 12px;
    border-radius: 8px;
}

.staffSelector > div > input[type="submit"]{
    font-size: .90em;
    height: auto;
    width: auto;
}

div > .appointment{
    background-color: rgb(207, 238, 223);
    justify-content: space-evenly;
    width: 450px;
}
div > .appointment > * {
    margin: 5px;
}
.appointmentBox > div{
    display: flex;
    background-color: #fffff5;
    border-radius: 20px;
    overflow-y: auto;
}

.appointmentBox > .infoBox{
    overflow-y: auto;
    max-height: 650px;
    margin: 20px;
}

.appointmentBox > .infoBox > div{
    overflow-y: auto;
    min-width: 600px;
}

.appointmentBox > .infoBox > hr{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px;
    max-width: .1px;
}

.appointmentBox > .infoBox > .infoBox{
    min-width: unset;
}

.infoBox > *{
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 10px;   
}

.infoBox > li{
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.infoBox > ul{
    margin: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-decoration: underline;
}

.titleSelector > .title{
    font-size: large;
    color: #94c7b2;
}

.workBox{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
}

.workBox > div{
    border-radius: 16px;
    width: 90%;
    height: 40%;
    margin: 15px;
    margin-top: 0px;
    width: auto;
    margin-bottom: 20px;
    background-color: #F0FFF2;
    border: 7px solid #a1d1a7;
    justify-content: space-between;
}

.workBox > .infoBox{
    width: auto;
    margin-bottom: 20px;
    background-color: #F0FFF2;
    border: 7px solid #a1d1a7;
    justify-content: space-between;
}

.workBox > .infoBox > *{
    margin: 20px;
    margin-bottom: 10px;
}

div>h4{
    font-size: medium;
    color: #18a52b;
}

.graph > * {
    margin: 15px;
    margin-top: 0px;
}