.appointmentBox{
    display: flex;
    flex-flow: row wrap; 
    justify-content: left;
    background-color: #cdeee5;    
    margin: 50px;
    margin-top: 70px;
    width: auto;   
    border-radius: 20px;
    border: 35px solid #b7e2d0;
}

.title{
    overflow: hidden;
    white-space: nowrap;
    margin: 20px;
    flex-basis: 89%;
    /*text-shadow:
    -2px -2px 0 #427f8125,
    2px -2px 0 #427f8125,
    -2px 2px 0 #427f8125,
    2px 2px 0 #427f8125,  
    -3px 0 0 #427f8125,
    3px 0 0 #427f8125,
    0 3px 0 #427f8125,
    0 -3px 0 #427f8125;
    color: #fdfffe;
    */
    color: #85b99f;
}

.appointment{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 26px;
    justify-content: space-between;
    height: 140px;
    width: 490px;
    background-color: #fcfdf7;
    border: 10px solid #b7e2d0;
    padding: 10px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.infoField{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
}

.info{
    margin: 3px;
    font-size: 1.1em;
}
/*
.date{

}

.patient{

}

.time{

}

.staff{

}
*/
.confirm{
    color: #f8faee;
    background-color: #549799;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 2em;
    width: 5em;
    margin: 5px;
    margin-right: 10px;
    border-radius: 13px;
}
.confirm:hover{
    background-color: #5aaeb1;
}


.delete{
    color: #f8faee;
    background-color: #b85b5b;
    font-size: 1em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    height: 2em;
    width: 5em;
    margin: 5px;
    margin-right: 10px;
    border-radius: 13px;
}
.delete:hover{
    background-color: #e05555;
}

.titleSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex-basis: 100%;
}

.returnButton{
    display: flex;
    color: #f8faee;
    background-color: #549799;
    font-size: 18.5px;
    min-width: 190px;
    width: 190px;
    justify-content: center;
    margin: 20px;
    margin-left: 0px;
    margin-right: 20px;
    border-radius: 13px;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
}

.returnButton:hover{
    background-color: #5aaeb1;
}

.startForm{
    display: flex;
    flex-direction: column;
    background-color: #fdfff6c2;
    margin: 20px;
    height: 500px;
    width: 100%;
    padding: 18px;
}

.startForm > *{
    margin: 5;
}

input[type=text]{
    margin: 5px;
}

label{
    margin: 5px;
}


.historyBox{
    float: right;
    justify-content: right;
    align-items: flex-end;   
    height: 50px;
    width: 50px;
    background-color: #e05555;
    margin: 5px;
}