.signInBox{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.wrapSignIn {
    background-color: #a1b8b2;
    /*
    height: 600px;
    width: 600px;
    */
    text-align: center;
    padding: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-sizing: border-box;
}

.logo{
    height: 10em;
    width: 12.8em;
}

.title{
    justify-content: center;
    font-size: 2.25em;
    color: rgb(59, 116, 109);
    margin: 0px;
}

.titleRegister{
    color: rgb(59, 116, 109);
    text-align: left;
    padding-left: 50px;
    font-size: xx-large;
    overflow: hidden;
    white-space: nowrap;
}

.inputField{
    display: flex;
    justify-content: center;
    margin: 30px;
    margin-bottom: 15px;
    min-width: 300px;
}

.inputFieldRegister{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
}

.inputFieldRegister>*{
    margin: 10px;
}

.inputFieldRegister > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

.inputFieldRegister > div > *{
    margin: 2px;
}


.leftJustifyBlock{
    display: flex;
    flex-direction: column;
}

.labels{
    margin: 10px;
    font-weight: 600;
    text-align: left;
    color: rgb(59, 116, 109);
}

.input{
    width: fit-content;
    padding-left: 10px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #e4d9d9;
    color:#666060;
    border-color:rgba(41, 124, 113, 0.158);
    border-radius: 6px;
    box-sizing: border-box;
}

.input2{
    width: fit-content;
    padding-left: 10px;
    padding-right: 50px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #e4d9d9;
    color:#666060;
    border-color:rgba(41, 124, 113, 0.158);
    border-radius: 6px;
    box-sizing: border-box;
}

.hyperlinkPassword{
    text-align: center;
    color: rgb(59, 116, 109);
    font-weight: bold;
}
.hyperlinkPassword:hover{
    color: #7fa194;
}

.buttonSignIn{
    text-align: center;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.textRegister{
    color: rgb(59, 116, 109);
    font-weight: 550;
    font-size: 88%;
}

.hyperlinkRegister{
    color: rgb(42, 107, 99);
    font-weight: bolder;
    font-size: 100%;
    text-align: left;
    padding-top: 25px;
}

.hyperlinkRegister:hover{
    color: #7fa194;
}


.hyperlinkBack{
    line-height: 0;
    text-align: right;
    margin-right: 2px;
    margin-bottom: 10PX;
    top: 1px;
    right: 1px;
    float: right;
    color:rgb(59, 116, 109);
    font-weight: bolder;
}

.hyperlinkBack:hover{
    color: #7fa194;
}

select{
    font-size: 1em;
    max-width: 200px;
    margin: 5px; 
    margin-bottom: 20px;
    border-color: rgba(39, 117, 74, 0.349);
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #e4d9d9;
}
div > p {
    margin: 10px;
}

.genericButton{
    margin-top: 10px;
}

span{
    margin-bottom: 50px;
}