.signInBox{
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.wrapSignIn {
    background-color: #bdc2b8;
    height: 600px;
    width: 600px;
    text-align: center;
    padding-top: 30px;
    justify-content: center;
    border-radius: 10px;
}

.Logo{
    justify-content: center;
}

.title{
    justify-content: center;
    font-size: 40px;
    color: #3f6154;
}

.titleRegister{
    color: #3f6154;
    line-height: 10px;
    text-align: left;
    padding-left: 50px;
    font-size: xx-large;
}

.inputField{
    line-height: 40px;
    text-align: left;
    padding-left: 135px;
}

.inputFieldRegister{
    display: flex;
    flex-wrap: wrap;
    line-height: 40px;
    text-align: left;
    padding-left: 40px;
}

.labels{
    font-weight: 600;
    padding-right: 10px;
    line-break:normal;
    text-align: left;
    color: #3f6154;
    padding-left: 20px;
}

.input{
    width: fit-content;
    padding-left: 10px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #e4d9d9;
    color:#666060;
    border-color:rgba(41, 124, 113, 0.158);
    border-radius: 6px;
}

.input2{
    width: fit-content;
    padding-left: 10px;
    padding-right: 50px;
    line-height: 25px;
    margin-bottom: 10px;
    background-color: #e4d9d9;
    color:#666060;
    border-color:rgba(41, 124, 113, 0.158);
    border-radius: 6px;
}

.hyperlinkPassword{
    text-align: center;
    padding-right: 152px;
    color: #3f6154;
    font-weight: bold;
}
.hyperlinkPassword:hover{
    color: #7fa194;
}

.buttonSignIn{
    text-align: center;
    padding-top: 35px;
}

.textRegister{
    color: #3f6154;
    font-weight: 550;
    font-size: 88%;
    text-align: left;
    padding-left: 148px;
    padding-top: 25px; 
}

.hyperlinkRegister{
    color: #3f6154;
    font-weight: bolder;
    font-size: 100%;
    text-align: left;
    padding-top: 25px;
}

.hyperlinkRegister:hover{
    color: #7fa194;
}


.hyperlinkBack{
    line-height: 0;
    text-align: right;
    padding-right: 25px;
    top: 1px;
    right: 1px;
    float: right;
    color: #3f6154;
    font-weight: 520;
}
.hyperlinkBack:hover{
    color: #7fa194;
}