body {
  background-image: url('./assets/landingPage_bg.png');
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
}

.landingPage {
  display: block;
}

.betterTeethImg {
  width: 50%;
  margin-left: 3em;
  margin-top: 4em;
  display: block;
}

.scheduleBtn {
  margin-left: 18.5em;
  background-color: rgba(0, 128, 128, 0.75);
  border: none;
  color: #FFFCEE;
  padding: 18px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 30px;
  
}