:root {
    --body-base-font-family: "Inter", Helvetica;
    --body-base-font-size: 16px;
    --body-base-font-style: normal;
    --body-base-font-weight: 400;
    --body-base-letter-spacing: 0px;
    --body-base-line-height: 140%;
    --body-strong-font-family: "Inter", Helvetica;
    --body-strong-font-size: 16px;
    --body-strong-font-style: normal;
    --body-strong-font-weight: 600;
    --body-strong-letter-spacing: 0px;
    --body-strong-line-height: 140%;
    --m-3black: rgba(0, 0, 0, 1);
    --m-3syslightprimary: rgba(101, 85, 143, 1);
    --m3-body-large-font-family: "Roboto", Helvetica;
    --m3-body-large-font-size: 16px;
    --m3-body-large-font-style: normal;
    --m3-body-large-font-weight: 400;
    --m3-body-large-letter-spacing: 0.5px;
    --m3-body-large-line-height: 24px;
    --m3-body-small-font-family: "Roboto", Helvetica;
    --m3-body-small-font-size: 12px;
    --m3-body-small-font-style: normal;
    --m3-body-small-font-weight: 400;
    --m3-body-small-letter-spacing: 0.4000000059604645px;
    --m3-body-small-line-height: 16px;
    --m3-display-medium-font-family: "Roboto", Helvetica;
    --m3-display-medium-font-size: 45px;
    --m3-display-medium-font-style: normal;
    --m3-display-medium-font-weight: 400;
    --m3-display-medium-letter-spacing: 0px;
    --m3-display-medium-line-height: 52px;
    --m3-headline-large-font-family: "Roboto", Helvetica;
    --m3-headline-large-font-size: 32px;
    --m3-headline-large-font-style: normal;
    --m3-headline-large-font-weight: 400;
    --m3-headline-large-letter-spacing: 0px;
    --m3-headline-large-line-height: 40px;
    --m3-label-large-font-family: "Roboto", Helvetica;
    --m3-label-large-font-size: 14px;
    --m3-label-large-font-style: normal;
    --m3-label-large-font-weight: 500;
    --m3-label-large-letter-spacing: 0.10000000149011612px;
    --m3-label-large-line-height: 20px;
    --m3syslighton-primary: rgba(255, 255, 255, 1);
    --m3syslighton-surface: rgba(29, 27, 32, 1);
    --m3syslighton-surface-variant: rgba(73, 69, 79, 1);
    --m3syslightoutline-variant: rgba(202, 196, 208, 1);
    --m3syslightsecondary-container: rgba(232, 222, 248, 1);
    --m3syslightsurface-container-high: rgba(236, 230, 240, 1);
    --main-header-color: rgba(8, 88, 91, 1);
    --single-line-body-base-font-family: "Inter", Helvetica;
    --single-line-body-base-font-size: 16px;
    --single-line-body-base-font-style: normal;
    --single-line-body-base-font-weight: 400;
    --single-line-body-base-letter-spacing: 0px;
    --single-line-body-base-line-height: 100%;
    --teal-for-black: rgba(20, 61, 62, 1);
    --used-inside-the-white-to-substitute-gray: rgba(235, 236, 224, 1);
  }